@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;1,300&family=Source+Code+Pro:wght@200&display=swap');

.container {
  max-width: 1440px;
  position: absolute;
  align-self: center;
  border-radius: 10px;
  background-color: #497174;
  font-family: 'Poppins', sans-serif;
  width: 50%;
  height: 80%;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #A2CDB0;
}

header {
  background-color: #EB6440;
  font-size: 60%;
  width: 40%;
  font-style: italic;
  color: #EFF5F5;
  border-radius: 20px;
  text-align: center;
  margin-left: 32%;
}

main,
button {
  font-style: italic;
  width: 100%;
  color: #EFF5F5;
  margin-bottom: 5%;
}

p {
  margin: px;
}

.inputSection,
.outputSection,
.explenationSection,
.FahrinputSection,
.FahroutputSection {
  display: flex;
  flex-direction: column;
  align-content: center;

}

.inputButtonSection,
.FahrinputButtonSection {
  display: flex;
  align-self: center;
  margin-top: 10px;
}

.inputButtonSection {
  width: 50%;
}

button {
  background-color: #EB6440;
  border: none;
  margin: 2%;
  border-radius: 5px;
}

button:hover {
  background-color: #b7553a;
}

button:active {
  transform: translateY(1.5px);
}

.inputSection label,
.outputSection label,
.explenationSection,
.inputSection p,
.FahrinputSection,
.FahroutputSection {
  margin: 15px 30px;
}

#inputField,
#outputField,
#calculationField,
#FahrinputField,
#FahroutputField,
#FahrcalculationField {
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  border: solid #2E8A99;
  padding: 10px;
  align-self: center;
  width: 70%;

}

#inputField:focus,
#outputField:focus,
#calculationField:focus,
#FahrinputField:focus,
#FahroutputField:focus {
  border: solid #0E2954;
}

.explenationSection {
  margin-top: 10px
}

#celciusToFah,
#fahrenheitToCel {
  display: none;
}

a {
  text-decoration: none;
}

hr {
  border-color: #9BABB8;
  width: 90%;
}

footer {
  background: #EB6440;
  display: flexbox;
  text-align: center;
  font-size: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 80vh;
    width: 100%;
    height: 100%;
  }

  header {
    background-color: #EB6440;
    font-size: 48%;
    width: 36%;
    font-style: italic;
    color: #EFF5F5;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 386;
  }

  body {
    margin-top: 25vh;
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
  }

  footer {
    background: #EB6440;
    display: flexbox;
    text-align: center;
    font-size: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    position: fixed;
    bottom: 0px;
  }

  #inputField,
  #outputField,
  #calculationField,
  #FahrinputField,
  #FahroutputField,
  #FahrcalculationField {
    width: 90%;
  }
}
